<h1>
  {{model.title}}
  <span style="font-size: 16px" class="pull-right">
    <a  href="" 
        ng-if="editMode" 
        uib-tooltip="{{'adfDashboard.addWidget' | translate}}" 
        tooltip-append-to-body="true" 
        tooltip-placement="left"
        ng-click="addWidgetDialog()">
      <i class="glyphicon glyphicon-plus-sign"></i>
    </a>
    <a  href="" 
        ng-if="editMode" 
        uib-tooltip="{{'adfDashboard.editDashboard' | translate}}" 
        tooltip-append-to-body="true" 
        tooltip-placement="left"
        ng-click="editDashboardDialog()">
      <i class="glyphicon glyphicon-cog"></i>
    </a>
    <a  href="" 
        ng-if="options.editable" 
        uib-tooltip="{{(editMode ? 'adfDashboard.disableEditMode' : 'adfDashboard.enableEditMode') | translate}}" 
        tooltip-append-to-body="true" 
        tooltip-placement="left"
        ng-click="toggleEditMode()">
      <i class="glyphicon" x-ng-class="{'glyphicon-edit' : !editMode, 'glyphicon-save' : editMode}"></i>
    </a>
    <a  href="" 
        ng-if="editMode" 
        uib-tooltip="{{'adfDashboard.undoChanges' | translate}}"
        tooltip-append-to-body="true" 
        tooltip-placement="left"
        ng-click="cancelEditMode()">
      <i class="glyphicon glyphicon-repeat adf-flip"></i>
    </a>
  </span>
</h1>
