<div class="modal-header">
  <h4 class="modal-title">{{'adfDashboard.deleteWidget' | translate}} {{widget.title}}</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="widgetTitle">{{'adfDashboard.deleteQuestion' | translate}}'</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="closeDialog()">{{'adfDashboard.close' | translate}}</button>
  <button type="button" class="btn btn-primary" ng-click="deleteDialog()">{{'adfDashboard.delete' | translate}}</button>
</div>
